h1.title {
    font-size: 28px;
}
body{
  font-family: Helvetica;
  font-size: 10pt;
  text-align: justify
}
/* Headers */
h1,h2,h3,h4,h5,h6{
  font-size: 20pt;
}

h4.author{
    font-size: 10pt;
}
h4.date{
    font-size: 10pt;
}
.html-widget {
  margin-bottom: 1em;
}
h1 .header-section-number::after {
  content: ".";
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  background-color: #336699;
}

.navbar-default {
    background-color: #336699;
    border-bottom-color: #00CD00;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #ffffff;
    /* background-color: #336699;*/
    background-color: #00CD00;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #00CD00;
    background-color: transparent;
}

.navbar-default .navbar-brand {
    color: #00CD00;
      background-color: transparent;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #00CD00;
    background-color: transparent;
}


.navbar {
    border-width: 3px;
}

a:hover, a:focus {
    color: #00CD00;
    text-decoration: underline;
}

a {
    color: #00CD00;
    text-decoration: none;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #00CD00;
    background-color: #1a242f;
}


th {
    background-color: #336699;
    color: white;
}
tr:nth-child(even) {background-color: #f2f2f2;}
